<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .sidebar {

      min-height: 100vh;
    }

  </style>
</head>
<body>

<div class="wrapper">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, [[${session.uname}]]</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<aside class="main-sidebar sidebar-dark-primary elevation-4">

   <div class="row">
            <div class="col-md-3 col-lg-2 d-none d-md-block sidebar sidebar-sticky bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/editprofile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change-password">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/task/myTask">My Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/task/assignByMe">Assigned Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user/list">Manage User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user/new">Add New User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/task/list">Manage Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/task/new">Add New Task</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-9 col-lg-10" >
                 <section layout:fragment="content1">
                 </section>
            </div>
   </div>

</aside>


<footer class="bg-dark text-light py-2">
                <p class="text-center">&copy; 2023 Employee Management System. All rights reserved.</p>
</footer>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>


</div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-fm5ytGwov6O3U6y+aqg9fU+3cEMjLrJrSJlYTKXT/09wLoTP/Ku6Ukiv1Hg9dU3B"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div th:if="${session.msg != null}">

    <script>
             alert("[[${session.msg}]]")
         </script>
    <div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
</div>
</body>
</html>
